
body {

}
.img-circle {
    margin: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: #ffffff;
    border-radius: 10em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.info {
    display: none;
}
a:hover + div {
    display: block;
}
